*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(190deg , #c4dc13 , #f02000);
    padding: 10px;
}

.to-do-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.to-do-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.to-do-app img{
    width: 40px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    outline: none;
    padding: 10px;
    border: none;
    background: transparent;
    font-weight: 14px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;     
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(uncheck.png);
    background-position: center;
    background-size: cover;
    top: 12px;
    left: 8px;

}

ul li.Checked{
    color: #5555;
    text-decoration: line-through;
}

ul li.Checked::before{
    background-image: url(check.png);
}

ul li.Checked{
    color: #5555;
    text-decoration: line-through;
}

ul li.Checked::before{
    background-image: url(check.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
}

ul li span:hover{
    cursor: pointer;
    background: #edeef0;
    border-radius: 360px;
}